@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0
}

body{
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 10px 50px;
}

.serif-head{
    font-family: 'Playfair Display',serif;
}

.logo img{
    height: 100%;
    width: 100%;
}

.cart{
    display: flex;
    align-items: center;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.cart img{
    height: 100%;
    padding: 10px;
}

.banner img{
    width: 100%;
}

.overlay{
    position: absolute;
    top: 80px;
    left: 20px;
    color: #ffffff;
    font-weight: 800;
    font-size: 3rem;
}

.overlay span{
    font-weight: 600;
    font-size: 1rem;
    font-family: sans-serif;

}

.cta{
    display: flex;
    justify-content: space-between;
}

.add-btn{
    background-color: #6196ff;
    color: #ffffff;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn img{
    height: 10px;
    padding-left: 5px;
}

.add-btn:active{
    background-color: #4884fe;
}

.cover img{
    width: 100%;
}

.products{
    padding: 40px;
}

.products > div{
    padding: 30px 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    column-gap: 7vw;
    /* margin: 0 10px; */
}

.books .container{
    grid-template-columns: repeat(6,minmax(0,1fr));
    column-gap: 20px;
}

.handmade .container{
    column-gap: 10vw;
}

.item>*{
    margin: 10px 0;
}

.item h2{
    font-size: 1rem;
}

.item h4{
    font-weight: 300;
    color: #808080;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
}

.creator{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.creator img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    padding: 10px;
}

.info{
    align-self: center;
    text-align: right;
    padding: 0 20px;
}

.info h3{
    padding: 10px 0;
}

@media(max-width:1024px) {
    .container{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

    .books .container{
        grid-template-columns: repeat(4,minmax(0,1fr));
    }

    .overlay{
        font-size: 2.5rem;
        top: 70px;
    }
}

@media(max-width:768px) {
    .container{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .books .container{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

    .overlay{
        font-size: 1.5rem;
        top: 60px;
    }

    .overlay span{
        font-size: .5rem;
    }
}

@media(max-width:480px) {
    nav{
        padding-left: 20px;
        padding-right: 20px;
    }

    .cart img{
        padding-right: 2px;
    }

    .products{
        text-align: center;
    }

    .container{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }

    .books .container{
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding: 0 30px;
    }

    .handmade .container{
        padding: 0 20px;
    }

    .overlay{
        font-size: 1rem;
        top: 60px;
    }
}